extends layout

block header
	a(href="/home")
		h1 Contact
		h2 home

block content
	.content
		bio
			h3 bio
			p "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
		resume
			a(href="/images/jcarp.pdf") 
				h3 resume
				p [click to download]
		contact		
			h3 contact
			p 415.209.3223 <br/> bcrowe@saic.edu

			