extends layout

block header
		h1.hover-fade New website coming soon!
		<br/>
		<br/>
		
		a(href="images/BioPhoto.jpg")
			img(src="images/BioPhoto.jpg" alt="Bio Picture" style="float:left;width:640px;")
		info(style="position:relative;right:-33px;top:60px;")
			h2.hover-fade Contact <br/> Bridget Crowe: <br/>
			h2.hover-fade 
				a(href="mailto:bcrowe@saic.edu") bcrowe@saic.edu
			<br/>
			<br/>
			h2.hover-fade 
				a(href="mailto:bcrowe@saic.edu?subject=Send me your resume!") Resume upon request

block content
		<br/>
		h1.hover-fade Bio
		p.comingsoon
			|Born in Chicago, but raised in the San Francisco Bay Area, Bridget 
			|returned to Chicago to attend the School of the Art Institute of Chicago 
			|to receive her BFA. She moved between photography, fashion and 
			|fibers at school and became interested in print and repeating pattern. 
			|Bridget works as an interdisciplinary artist, applying pattern to a 
			|number of venues such as fashion, interior design, sculpture, and 
			|installation work.
					

						
					
					

		

			