extends layout

block header
	a(href="/home")
		img.welcome.hoverBorder(src="/images/WelcomePagePhoto.jpg" style="line-height:80%;")

block content
	a(href="/home")
		h1.centered Bridget Crowe
		h2.centered fiber artist/textile designer
					
